version: "3.9"

services:
  backend:
    build: ./ML
    image: firasfoued/breastcancer-backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: firasfoued/breastcancer-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
